@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000;
  outline: none;
  user-select: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: #00000000;
}
